$body: #707070;
$white: white;
$black: black;
$blue-2: #8496c0;

$primary: #26546b;
$primary-light: #C7D9DB;
$primary-200: #4692b8;
$primary-150: #eaf1fa;
$primary-100: #eff2fc;
$primary-transparent: #26546b48;

$secondary: #30dd92;
$secondary-200: #a3eccc;
$secondary-400: #ecf9f3;
$secondary-600: #f3fff8;

$tertiary: #0f2d69;
$tertiary-200: #254687;
$tertiary-100: #d3ddff;

$gray--1: #f6f6f6;
$gray--2: #707070;
$gray--3: #8e8e8e;
$gray--4: #fcfdff;
$gray--5: #dfdfdf;
$gray--6: #f4f4f4;
$gray--7: #e9edf0;

